<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	
	<display-name>Simple Servlet Application</display-name>
	<session-config>
        <session-timeout>60</session-timeout>
	</session-config>
	<welcome-file-list>
     	<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>simpleServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.SimpleServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	
	<!-- Client Account START  -->
	<servlet>
		<description />
		<display-name>CClientAccountTblServlet</display-name>
		<servlet-name>CClientAccountTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.CClientAccountTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>UClientAccountTblServlet</display-name>
		<servlet-name>UClientAccountTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.UClientAccountTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>AddClientAccountRecordServlet</display-name>
		<servlet-name>AddClientAccountRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.AddClientAccountRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ProcessPasswordServlet</display-name>
		<servlet-name>ProcessPasswordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ProcessPasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ResetPasswordServlet</display-name>
		<servlet-name>ResetPasswordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ResetPasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ViewClientRecordServlet</display-name>
		<servlet-name>ViewClientRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ViewClientRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>OverridePasswordServlet</display-name>
		<servlet-name>OverridePasswordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.OverridePasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>DeleteClientAccountServlet</display-name>
		<servlet-name>DeleteClientAccountServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.DeleteClientAccountServlet</servlet-class>
	</servlet>
	<!-- Client Account END  -->
	
	<!-- Employee START  -->
	<servlet>
		<description />
		<display-name>CEmployeeTblServlet</display-name>
		<servlet-name>CEmployeeTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.CEmployeeTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>AddUpdateEmployeeRecordServlet</display-name>
		<servlet-name>AddUpdateEmployeeRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.AddUpdateEmployeeRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ViewEmployeeRecordServlet</display-name>
		<servlet-name>ViewEmployeeRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ViewEmployeeRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>GenerateDocumentDownloadServlet</display-name>
		<servlet-name>GenerateDocumentDownloadServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.GenerateDocumentDownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>DeleteKETDocumentServlet</display-name>
		<servlet-name>DeleteKETDocumentServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.DeleteKETDocumentServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>DeleteEmployeeRecordServlet</display-name>
		<servlet-name>DeleteEmployeeRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.DeleteEmployeeRecordServlet</servlet-class>
	</servlet>
	<!-- Employee END  -->	

	
	<!-- Leave START  -->
	<servlet>
		<description />
		<display-name>CLeaveTblServlet</display-name>
		<servlet-name>CLeaveTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.CLeaveTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>AddLeaveRecordServlet</display-name>
		<servlet-name>AddLeaveRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.AddLeaveRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ViewLeaveRecordServlet</display-name>
		<servlet-name>ViewLeaveRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ViewLeaveRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>UpdateLeaveRecordServlet</display-name>
		<servlet-name>UpdateLeaveRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.UpdateLeaveRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>DeleteLeaveRecordServlet</display-name>
		<servlet-name>DeleteLeaveRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.DeleteLeaveRecordServlet</servlet-class>
	</servlet>
	<!-- Leave END  -->	
	
	<!-- PWM Details START  -->
	<servlet>
		<description />
		<display-name>CPWMTblServlet</display-name>
		<servlet-name>CPWMTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.CPWMTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>AddPWMRecordServlet</display-name>
		<servlet-name>AddPWMRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.AddPWMRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ViewPWMRecordServlet</display-name>
		<servlet-name>ViewPWMRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ViewPWMRecordServlet</servlet-class>
	</servlet>
	<!-- PWM Details END  -->	

	<!-- Officer Payslip START  -->
	<servlet>
		<description />
		<display-name>COfficerPayslipTblServlet</display-name>
		<servlet-name>COfficerPayslipTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.COfficerPayslipTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>GenerateIndividualPayslipServlet</display-name>
		<servlet-name>GenerateIndividualPayslipServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.GenerateIndividualPayslipServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ViewOfficerPayslipRecordServlet</display-name>
		<servlet-name>ViewOfficerPayslipRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ViewOfficerPayslipRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>DownloadOfficerPayslipServlet</display-name>
		<servlet-name>DownloadOfficerPayslipServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.DownloadOfficerPayslipServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>DeleteAllOfficerPayslipTblServlet</display-name>
		<servlet-name>DeleteAllOfficerPayslipTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.DeleteAllOfficerPayslipTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>DeleteIndividualOfficerPayslipServlet</display-name>
		<servlet-name>DeleteIndividualOfficerPayslipServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.DeleteIndividualOfficerPayslipServlet</servlet-class>
	</servlet>
	<!-- Officer Payslip END  -->	
		
	<!-- Site START  -->
	<servlet>
		<description />
		<display-name>CSiteTblServlet</display-name>
		<servlet-name>CSiteTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.CSiteTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>USiteTblServlet</display-name>
		<servlet-name>USiteTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.USiteTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>AddSiteRecordServlet</display-name>
		<servlet-name>AddSiteRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.AddSiteRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>EditSiteBySiteIDServlet</display-name>
		<servlet-name>EditSiteBySiteIDServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.EditSiteBySiteIDServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>UpdateSiteRecordServlet</display-name>
		<servlet-name>UpdateSiteRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.UpdateSiteRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ViewSiteRecordServlet</display-name>
		<servlet-name>ViewSiteRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ViewSiteRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>DeleteSiteServlet</display-name>
		<servlet-name>DeleteSiteServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.DeleteSiteServlet</servlet-class>
	</servlet>
	<!-- Site END  -->
	
	<!-- TOD HOD START  -->
	<servlet>
		<description />
		<display-name>CTodHodRecordTblServlet</display-name>
		<servlet-name>CTodHodRecordTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.CTodHodRecordTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>UTodHodTblServlet</display-name>
		<servlet-name>UTodHodTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.UTodHodTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>AddTodHodRecordServlet</display-name>
		<servlet-name>AddTodHodRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.AddTodHodRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>RetrieveTodHodByNRICServlet</display-name>
		<servlet-name>RetrieveTodHodByNRICServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.RetrieveTodHodByNRICServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ViewTodHodRecordServlet</display-name>
		<servlet-name>ViewTodHodRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ViewTodHodRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>UpdateTodHodTimeOutRecordServlet</display-name>
		<servlet-name>UpdateTodHodTimeOutRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.UpdateTodHodTimeOutRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>LoadDashboardServlet</display-name>
		<servlet-name>LoadDashboardServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.LoadDashboardServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ArchiveTodHodRecordsServlet</display-name>
		<servlet-name>ArchiveTodHodRecordsServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ArchiveTodHodRecordsServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ViewSiteManapowerRecordServlet</display-name>
		<servlet-name>ViewSiteManapowerRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ViewSiteManapowerRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>RetrieveTodHodCountServlet</display-name>
		<servlet-name>RetrieveTodHodCountServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.RetrieveTodHodCountServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>DeleteTodHodByOfficerIDOneShiftOnly</display-name>
		<servlet-name>DeleteTodHodByOfficerIDOneShiftOnly</servlet-name>
		<servlet-class>net.javatutorial.tutorials.DeleteTodHodByOfficerIDOneShiftOnly</servlet-class>
	</servlet>
	<!-- TOD HOD END  -->
	
	<!-- Occurrence Reports START  -->
	<servlet>
		<description />
		<display-name>COccurrenceTblServlet</display-name>
		<servlet-name>COccurrenceTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.COccurrenceTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>UOccurrenceTblServlet</display-name>
		<servlet-name>UOccurrenceTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.UOccurrenceTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ViewOccurrenceRecordServlet</display-name>
		<servlet-name>ViewOccurrenceRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ViewOccurrenceRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>AddOccurrenceRecordServlet</display-name>
		<servlet-name>AddOccurrenceRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.AddOccurrenceRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ViewEditOccurrenceRecordServlet</display-name>
		<servlet-name>ViewEditOccurrenceRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ViewEditOccurrenceRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>UpdateOccurrenceRecordServlet</display-name>
		<servlet-name>UpdateOccurrenceRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.UpdateOccurrenceRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>DeleteOccurrenceRecordServlet</display-name>
		<servlet-name>DeleteOccurrenceRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.DeleteOccurrenceRecordServlet</servlet-class>
	</servlet>
	<!-- Occurrence Reports END  -->
	
	<!-- Payslip START  -->
	<servlet>
		<description />
		<display-name>CPayslipTblServlet</display-name>
		<servlet-name>CPayslipTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.CPayslipTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>DeletePayslipTblServlet</display-name>
		<servlet-name>DeletePayslipTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.DeletePayslipTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>UploadFilePayslipServlet</display-name>
		<servlet-name>UploadFilePayslipServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.UploadFilePayslipServlet</servlet-class>
	</servlet>	
	<servlet>
		<description />
		<display-name>CreatePayslipServlet</display-name>
		<servlet-name>CreatePayslipServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.CreatePayslipServlet</servlet-class>
	</servlet>
	<!-- Payslip END  -->
	
	<!-- Incident START  -->
	<servlet>
		<description />
		<display-name>CIncidentTblServlet</display-name>
		<servlet-name>CIncidentTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.CIncidentTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>UIncidentTblServlet</display-name>
		<servlet-name>UIncidentTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.UIncidentTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>AddIncidentRecordServlet</display-name>
		<servlet-name>AddIncidentRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.AddIncidentRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ViewIncidentRecordsServlet</display-name>
		<servlet-name>ViewIncidentRecordsServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ViewIncidentRecordsServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ViewEditIncidentRecordServlet</display-name>
		<servlet-name>ViewEditIncidentRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ViewEditIncidentRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>DisplayImagesServlet</display-name>
		<servlet-name>DisplayImagesServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.DisplayImagesServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>DeleteIncidentRecordServlet</display-name>
		<servlet-name>DeleteIncidentRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.DeleteIncidentRecordServlet</servlet-class>
	</servlet>
	<!-- Incident END  -->
	
	<!-- Misc Documents START  -->
	<servlet>
		<description />
		<display-name>CMiscDocumentsTblServlet</display-name>
		<servlet-name>CMiscDocumentsTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.CMiscDocumentsTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>AddMiscDocumentsRecordServlet</display-name>
		<servlet-name>AddMiscDocumentsRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.AddMiscDocumentsRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ViewMiscDocumentsRecordServlet</display-name>
		<servlet-name>ViewMiscDocumentsRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ViewMiscDocumentsRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>DeleteMiscDocumentRecordServlet</display-name>
		<servlet-name>DeleteMiscDocumentRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.DeleteMiscDocumentRecordServlet</servlet-class>
	</servlet>
	<!-- Misc Documents END  -->
	
	<!-- Client Account START  -->
	<servlet-mapping>
		<servlet-name>CClientAccountTblServlet</servlet-name>
		<url-pattern>/clientAccountTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UClientAccountTblServlet</servlet-name>
		<url-pattern>/updateClientAccountTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddClientAccountRecordServlet</servlet-name>
		<url-pattern>/addClientAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessPasswordServlet</servlet-name>
		<url-pattern>/verifyLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResetPasswordServlet</servlet-name>
		<url-pattern>/resetPassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewClientRecordServlet</servlet-name>
		<url-pattern>/retrieveAllClientRecords</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OverridePasswordServlet</servlet-name>
		<url-pattern>/overridePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteClientAccountServlet</servlet-name>
		<url-pattern>/deleteClientRecord</url-pattern>
	</servlet-mapping>
	<!-- Client Account END  -->
	
	<!-- Employee START  -->
	<servlet-mapping>
		<servlet-name>CEmployeeTblServlet</servlet-name>
		<url-pattern>/createEmpTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddUpdateEmployeeRecordServlet</servlet-name>
		<url-pattern>/addUpdateEmployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewEmployeeRecordServlet</servlet-name>
		<url-pattern>/viewEmp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GenerateDocumentDownloadServlet</servlet-name>
		<url-pattern>/generateDocDwnld</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteKETDocumentServlet</servlet-name>
		<url-pattern>/deleteKETDocument</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteEmployeeRecordServlet</servlet-name>
		<url-pattern>/deleteEmployee</url-pattern>
	</servlet-mapping>
	<!-- Employee END  -->
	
	<!-- Leave START  -->
	<servlet-mapping>
		<servlet-name>CLeaveTblServlet</servlet-name>
		<url-pattern>/createLeaveTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddLeaveRecordServlet</servlet-name>
		<url-pattern>/addLeave</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewLeaveRecordServlet</servlet-name>
		<url-pattern>/viewLeave</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateLeaveRecordServlet</servlet-name>
		<url-pattern>/updateLeave</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteLeaveRecordServlet</servlet-name>
		<url-pattern>/deleteLeave</url-pattern>
	</servlet-mapping>
	<!-- Leave END  -->

	<!-- PWM Details START  -->
	<servlet-mapping>
		<servlet-name>CPWMTblServlet</servlet-name>
		<url-pattern>/createPWMTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddPWMRecordServlet</servlet-name>
		<url-pattern>/addPWM</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewPWMRecordServlet</servlet-name>
		<url-pattern>/retrieveAllPWMRecords</url-pattern>
	</servlet-mapping>
	<!-- PWM Details END  -->

	<!-- Officer Payslip START  -->
	<servlet-mapping>
		<servlet-name>COfficerPayslipTblServlet</servlet-name>
		<url-pattern>/createOfficerPayslipTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GenerateIndividualPayslipServlet</servlet-name>
		<url-pattern>/generateOfficerPayslip</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewOfficerPayslipRecordServlet</servlet-name>
		<url-pattern>/viewOfficerPayslip</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadOfficerPayslipServlet</servlet-name>
		<url-pattern>/downloadPayslip</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteAllOfficerPayslipTblServlet</servlet-name>
		<url-pattern>/deleteAllOfficerPayslips</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteIndividualOfficerPayslipServlet</servlet-name>
		<url-pattern>/deleteIndOfficerPayslip</url-pattern>
	</servlet-mapping>
	<!-- Officer Payslip END  -->
	
	<!-- Site START  -->
	<servlet-mapping>
		<servlet-name>CSiteTblServlet</servlet-name>
		<url-pattern>/createSiteTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>USiteTblServlet</servlet-name>
		<url-pattern>/updateSiteTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddSiteRecordServlet</servlet-name>
		<url-pattern>/addSite</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditSiteBySiteIDServlet</servlet-name>
		<url-pattern>/editSite</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateSiteRecordServlet</servlet-name>
		<url-pattern>/updateSite</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewSiteRecordServlet</servlet-name>
		<url-pattern>/retrieveAllSiteRecords</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteSiteServlet</servlet-name>
		<url-pattern>/deleteSite</url-pattern>
	</servlet-mapping>
	<!-- Site END  -->
	
	<!-- TOD HOD START  -->
	<servlet-mapping>
		<servlet-name>CTodHodRecordTblServlet</servlet-name>
		<url-pattern>/createTodHodTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UTodHodTblServlet</servlet-name>
		<url-pattern>/updateTodHodTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTodHodRecordServlet</servlet-name>
		<url-pattern>/addTodHodRecord</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RetrieveTodHodByNRICServlet</servlet-name>
		<url-pattern>/populateTodHod</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewTodHodRecordServlet</servlet-name>
		<url-pattern>/todHodRecordSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateTodHodTimeOutRecordServlet</servlet-name>
		<url-pattern>/updateTodHodRecord</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoadDashboardServlet</servlet-name>
		<url-pattern>/loadDashboard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArchiveTodHodRecordsServlet</servlet-name>
		<url-pattern>/archiveTodHod</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewSiteManapowerRecordServlet</servlet-name>
		<url-pattern>/viewSiteManpower</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RetrieveTodHodCountServlet</servlet-name>
		<url-pattern>/retrieveTodHodCount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteTodHodByOfficerIDOneShiftOnly</servlet-name>
		<url-pattern>/deleteTodHodRecordsOneShift</url-pattern>
	</servlet-mapping>
	<!-- TOD HOD END  -->

	<!-- PAYSLIP START -->
	<servlet-mapping>
		<servlet-name>CPayslipTblServlet</servlet-name>
		<url-pattern>/createPayslipTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeletePayslipTblServlet</servlet-name>
		<url-pattern>/deletePayslipTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadFilePayslipServlet</servlet-name>
		<url-pattern>/uploadFilePayslip</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreatePayslipServlet</servlet-name>
		<url-pattern>/createPayslip</url-pattern>
	</servlet-mapping>	
	<!-- PAYSLIP END -->
	
	<!-- Incident START -->
	<servlet-mapping>
		<servlet-name>CIncidentTblServlet</servlet-name>
		<url-pattern>/createIncidentTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UIncidentTblServlet</servlet-name>
		<url-pattern>/updateIncidentTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddIncidentRecordServlet</servlet-name>
		<url-pattern>/addIncident</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>ViewIncidentRecordsServlet</servlet-name>
		<url-pattern>/manageIncidentRecord</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>ViewEditIncidentRecordServlet</servlet-name>
		<url-pattern>/viewEditIncident</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>DisplayImagesServlet</servlet-name>
		<url-pattern>/displayImages</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteIncidentRecordServlet</servlet-name>
		<url-pattern>/deleteIncident</url-pattern>
	</servlet-mapping>
	<!-- Incident END -->
		
	<!-- Occurrence Reports START  -->
	<servlet-mapping>
		<servlet-name>COccurrenceTblServlet</servlet-name>
		<url-pattern>/createOccurrenceTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UOccurrenceTblServlet</servlet-name>
		<url-pattern>/updateOccurrenceTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewOccurrenceRecordServlet</servlet-name>
		<url-pattern>/manageOccurrenceRecord</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddOccurrenceRecordServlet</servlet-name>
		<url-pattern>/addOccurrenceRecord</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewEditOccurrenceRecordServlet</servlet-name>
		<url-pattern>/viewEditOccurrence</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateOccurrenceRecordServlet</servlet-name>
		<url-pattern>/updateOccurrenceRecord</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteOccurrenceRecordServlet</servlet-name>
		<url-pattern>/deleteOccurrence</url-pattern>
	</servlet-mapping>
	<!-- Occurrence Reports END  -->
	
	<!-- Misc Documents START -->
	<servlet-mapping>
		<servlet-name>CMiscDocumentsTblServlet</servlet-name>
		<url-pattern>/createMiscDocsTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddMiscDocumentsRecordServlet</servlet-name>
		<url-pattern>/addMiscDocsRecord</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>ViewMiscDocumentsRecordServlet</servlet-name>
		<url-pattern>/viewMiscDocs</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>DeleteMiscDocumentRecordServlet</servlet-name>
		<url-pattern>/deleteMiscDocs</url-pattern>
	</servlet-mapping>
	<!-- Misc Documents END -->
		
	<servlet-mapping>
		<servlet-name>simpleServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
</web-app>
