<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	
	<display-name>Simple Servlet Application</display-name>
	<welcome-file-list>
     	<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>simpleServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.SimpleServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	
	<!-- Client Account START  -->
	<servlet>
		<description />
		<display-name>CClientAccountTblServlet</display-name>
		<servlet-name>CClientAccountTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.CClientAccountTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>UClientAccountTblServlet</display-name>
		<servlet-name>UClientAccountTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.UClientAccountTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>AddClientAccountRecordServlet</display-name>
		<servlet-name>AddClientAccountRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.AddClientAccountRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ProcessPasswordServlet</display-name>
		<servlet-name>ProcessPasswordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ProcessPasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ResetPasswordServlet</display-name>
		<servlet-name>ResetPasswordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ResetPasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ViewClientRecordServlet</display-name>
		<servlet-name>ViewClientRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ViewClientRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>OverridePasswordServlet</display-name>
		<servlet-name>OverridePasswordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.OverridePasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>DeleteClientAccountServlet</display-name>
		<servlet-name>DeleteClientAccountServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.DeleteClientAccountServlet</servlet-class>
	</servlet>
	<!-- Client Account END  -->
	<!-- Site START  -->
	<servlet>
		<description />
		<display-name>CSiteTblServlet</display-name>
		<servlet-name>CSiteTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.CSiteTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>USiteTblServlet</display-name>
		<servlet-name>USiteTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.USiteTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>AddSiteRecordServlet</display-name>
		<servlet-name>AddSiteRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.AddSiteRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>EditSiteBySiteIDServlet</display-name>
		<servlet-name>EditSiteBySiteIDServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.EditSiteBySiteIDServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>UpdateSiteRecordServlet</display-name>
		<servlet-name>UpdateSiteRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.UpdateSiteRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ViewSiteRecordServlet</display-name>
		<servlet-name>ViewSiteRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ViewSiteRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>DeleteSiteServlet</display-name>
		<servlet-name>DeleteSiteServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.DeleteSiteServlet</servlet-class>
	</servlet>
	<!-- Site END  -->
	
	<!-- TOD HOD START  -->
	<servlet>
		<description />
		<display-name>CTodHodRecordTblServlet</display-name>
		<servlet-name>CTodHodRecordTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.CTodHodRecordTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>UTodHodTblServlet</display-name>
		<servlet-name>UTodHodTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.UTodHodTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>AddTodHodRecordServlet</display-name>
		<servlet-name>AddTodHodRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.AddTodHodRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>RetrieveTodHodByNRICServlet</display-name>
		<servlet-name>RetrieveTodHodByNRICServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.RetrieveTodHodByNRICServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ViewTodHodRecordServlet</display-name>
		<servlet-name>ViewTodHodRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ViewTodHodRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>UpdateTodHodTimeOutRecordServlet</display-name>
		<servlet-name>UpdateTodHodTimeOutRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.UpdateTodHodTimeOutRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>LoadDashboardServlet</display-name>
		<servlet-name>LoadDashboardServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.LoadDashboardServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ArchiveTodHodRecordsServlet</display-name>
		<servlet-name>ArchiveTodHodRecordsServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ArchiveTodHodRecordsServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ViewSiteManapowerRecordServlet</display-name>
		<servlet-name>ViewSiteManapowerRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ViewSiteManapowerRecordServlet</servlet-class>
	</servlet>
	<!-- TOD HOD END  -->
	
	<!-- Occurrence Reports START  -->
	<servlet>
		<description />
		<display-name>COccurrenceTblServlet</display-name>
		<servlet-name>COccurrenceTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.COccurrenceTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ViewOccurrenceRecordServlet</display-name>
		<servlet-name>ViewOccurrenceRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ViewOccurrenceRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>AddOccurrenceRecordServlet</display-name>
		<servlet-name>AddOccurrenceRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.AddOccurrenceRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>ViewEditOccurrenceRecordServlet</display-name>
		<servlet-name>ViewEditOccurrenceRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.ViewEditOccurrenceRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>UpdateOccurrenceRecordServlet</display-name>
		<servlet-name>UpdateOccurrenceRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.UpdateOccurrenceRecordServlet</servlet-class>
	</servlet>
	<servlet>
		<description />
		<display-name>DeleteOccurrenceRecordServlet</display-name>
		<servlet-name>DeleteOccurrenceRecordServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.DeleteOccurrenceRecordServlet</servlet-class>
	</servlet>
	<!-- Occurrence Reports END  -->
	
	<!-- Client Account START  -->
	<servlet-mapping>
		<servlet-name>CClientAccountTblServlet</servlet-name>
		<url-pattern>/clientAccountTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UClientAccountTblServlet</servlet-name>
		<url-pattern>/updateClientAccountTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddClientAccountRecordServlet</servlet-name>
		<url-pattern>/addClientAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessPasswordServlet</servlet-name>
		<url-pattern>/verifyLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResetPasswordServlet</servlet-name>
		<url-pattern>/resetPassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewClientRecordServlet</servlet-name>
		<url-pattern>/retrieveAllClientRecords</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OverridePasswordServlet</servlet-name>
		<url-pattern>/overridePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteClientAccountServlet</servlet-name>
		<url-pattern>/deleteClientRecord</url-pattern>
	</servlet-mapping>
	<!-- Client Account END  -->
	
	<!-- Site START  -->
	<servlet-mapping>
		<servlet-name>CSiteTblServlet</servlet-name>
		<url-pattern>/createSiteTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>USiteTblServlet</servlet-name>
		<url-pattern>/updateSiteTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddSiteRecordServlet</servlet-name>
		<url-pattern>/addSite</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditSiteBySiteIDServlet</servlet-name>
		<url-pattern>/editSite</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateSiteRecordServlet</servlet-name>
		<url-pattern>/updateSite</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewSiteRecordServlet</servlet-name>
		<url-pattern>/retrieveAllSiteRecords</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteSiteServlet</servlet-name>
		<url-pattern>/deleteSite</url-pattern>
	</servlet-mapping>
	<!-- Site END  -->
	
	<!-- TOD HOD START  -->
	<servlet-mapping>
		<servlet-name>CTodHodRecordTblServlet</servlet-name>
		<url-pattern>/createTodHodTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UTodHodTblServlet</servlet-name>
		<url-pattern>/updateTodHodTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTodHodRecordServlet</servlet-name>
		<url-pattern>/addTodHodRecord</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RetrieveTodHodByNRICServlet</servlet-name>
		<url-pattern>/populateTodHod</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewTodHodRecordServlet</servlet-name>
		<url-pattern>/todHodRecordSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateTodHodTimeOutRecordServlet</servlet-name>
		<url-pattern>/updateTodHodRecord</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoadDashboardServlet</servlet-name>
		<url-pattern>/loadDashboard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArchiveTodHodRecordsServlet</servlet-name>
		<url-pattern>/archiveTodHod</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>ViewSiteManapowerRecordServlet</servlet-name>
		<url-pattern>/viewSiteManpower</url-pattern>
	</servlet-mapping>
	<!-- TOD HOD END  -->
	
	<!-- Occurrence Reports START  -->
	<servlet-mapping>
		<servlet-name>COccurrenceTblServlet</servlet-name>
		<url-pattern>/createOccurrenceTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewOccurrenceRecordServlet</servlet-name>
		<url-pattern>/manageOccurrenceRecord</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddOccurrenceRecordServlet</servlet-name>
		<url-pattern>/addOccurrenceRecord</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewEditOccurrenceRecordServlet</servlet-name>
		<url-pattern>/viewEditOccurrence</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateOccurrenceRecordServlet</servlet-name>
		<url-pattern>/updateOccurrenceRecord</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteOccurrenceRecordServlet</servlet-name>
		<url-pattern>/deleteOccurrence</url-pattern>
	</servlet-mapping>
	<!-- Occurrence Reports END  -->	
	<servlet-mapping>
		<servlet-name>simpleServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
</web-app>
