<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	
	<display-name>Simple Servlet Application</display-name>

	<servlet>
		<servlet-name>simpleServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.SimpleServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CEmployeeTblServlet</display-name>
		<servlet-name>CEmployeeTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.CEmployeeTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DEmployeeTblServlet</display-name>
		<servlet-name>DEmployeeTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.DEmployeeTblServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddEmployeeServlet</display-name>
		<servlet-name>AddEmployeeServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.AddEmployeeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UEmployeeTblServlet</display-name>
		<servlet-name>UEmployeeTblServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.UEmployeeTblServlet</servlet-class>
	</servlet>
		<servlet>
		<description>
		</description>
		<display-name>TodHodSearchServlet</display-name>
		<servlet-name>TodHodSearchServlet</servlet-name>
		<servlet-class>net.javatutorial.tutorials.TodHodSearchServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>simpleServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CEmployeeTblServlet</servlet-name>
		<url-pattern>/createEmpTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DEmployeeTblServlet</servlet-name>
		<url-pattern>/deleteEmpTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddEmployeeServlet</servlet-name>
		<url-pattern>/addEmployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UEmployeeTblServlet</servlet-name>
		<url-pattern>/updateEmpTbl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TodHodSearchServlet</servlet-name>
		<url-pattern>/todHodSearch</url-pattern>
	</servlet-mapping>
</web-app>
